<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
  </div>
  <div class="row">
    <div class="card text-center col-md-4" *ngFor="let person of persons">
      <div class="card-header">
        {{person.name}}
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
  
  </div>
</div>